name: Localidades Bot

on:
  schedule:
    - cron: "0 */2 * * *"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: 游닌 Clonar el repositorio
        uses: actions/checkout@v3
        with:
          persist-credentials: false  # desactiva token default de GitHub

      - name: 游냀 Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: 游닍 Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: 游댐 Cargar variables de entorno (desde secrets)
        run: |
          echo "API_KEY=${{ secrets.API_KEY }}" >> $GITHUB_ENV
          echo "API_KEY_SECRET=${{ secrets.API_KEY_SECRET }}" >> $GITHUB_ENV
          echo "ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }}" >> $GITHUB_ENV
          echo "ACCESS_TOKEN_SECRET=${{ secrets.ACCESS_TOKEN_SECRET }}" >> $GITHUB_ENV
          echo "BEARER_TOKEN=${{ secrets.BEARER_TOKEN }}" >> $GITHUB_ENV
          echo "MAPBOX_TOKEN=${{ secrets.MAPBOX_TOKEN }}" >> $GITHUB_ENV

      - name: 游 Ejecutar el bot
        run: python main.py

      - name: 游대 Guardar cambios en usados.txt
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git config --global user.name "everycity-bot"
          git config --global user.email "actions@github.com"
          git add usados.txt
          git commit -m "游대 Actualizo usados.txt autom치ticamente"
          git push https://$GH_TOKEN@github.com/${{ github.repository }}.git HEAD:main
